[submodule "MyPythonPackageTemplate"]
	path = MyPythonPackageTemplate
	url = https://github.com/tshmak/MyPythonPackageTemplate.git
[submodule "tmiscpy"]
	path = tmiscpy
	url = https://github.com/tshmak/tmiscpy.git
